/*
Project 2
Team Lead: 
    Richard Saney
Team Members:
    Kathryn Soll
    Paige Marogil
    Frank Zhang
*/

form  { 
	display: table;      
	}
p     { 
	display: table-row;  
	}
label { 
	display: table-cell; 
	}
input { 
	display: table-cell; 
	}